:root {
  --text-color: rgb(255, 255, 255);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-shadow: rgb(20 20 20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: max(100vw, 100%);
  min-height: 100%;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.dish-list {
  display: flex;
  padding: 10pt;
  margin: 0pt;
  overflow: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.dish {
  margin: 10pt;
  border-radius: 5pt;
  position: relative;
  width: 300pt;
  height: 400pt;
  min-width: 240pt;
  min-height: 350pt;
  max-width: 300pt;
  max-height: 400pt;
  overflow: hidden;
  box-shadow: 4pt 3pt 6pt var(--background-shadow);
  display: inline-block;
}

.dish-image {
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dish-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: normal;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dish:hover .dish-overlay {
  opacity: 1;
}

.dish-title {
  position: absolute;
  left: 20pt;
  bottom: 20pt;
  font-size: 20pt;
  color: var(--text-color);
}

.dish-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: inset 0pt -30pt 60pt var(--background-shadow);
}

.dish-description {
  font-size: 14pt;
  padding: 20pt;
  color: var(--text-color);
}

h1 {
  font-size: 36pt;
  margin: 40pt;
  margin-bottom: 10pt;
}